@font-face {
    font-family: Static;
    src: url(./static/JosefinSans-Medium.ttf);
}
body{
    font-family: Static;
}

h1{
    font-size: 48px;
    font-weight: 700;
}
.signInDiv{
   width: 400px;
   height: 450px;
    background-color: rgb(193, 225, 237);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.username, .password{
    width: 100%;
    /* flex-grow: 1!important; */

}
.input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    
}
@media (max-width: 600px) {
    .input{
        width: 100%;
        padding: 15px;
    }
}